<!--Background-->
    <div data-interchange="[/images/bg_small.html, small], [/images/bg_small.html, medium], [/videos/bg_large.html, large]"></div>

<!--First callout-->
<div class="callout large" style="background: transparent;height:100%" id="callout-topo">
	<div style="text-align: center">
		<div class="row" style="position:absolute;left:0;right:0;bottom:150px">
			<div class="small-12 large-10 small-centered columns">
				<img src="/images/logo.png" height="128" width="128" style="padding-bottom:40px">
				<h4 style="font-family:Lato;color:white">Nós somos uma comunidade anônima para se aprender e conversar sobre saúde mental.</h4><br><br>
			</div>
		</div>
		<div class="row" style="position:absolute;left:0;right:0;bottom:-60px">
			<div class="small-12 medium-8 large-5 small-centered columns">
				<a href="#inscreva-se" class="button primary expanded smooth">Inscreva-se</a><br><br><br><br><br><br><br><br>
			</div>
		</div>
			<a href="#features" class="smooth" style="color:white;position:absolute;left:0;right:0;bottom:60px"><i class="fa fa-angle-down fa-4x hvr-icon-down"></i></a>
	</div>
</div>

<!--Second callout-->
<div class="callout success" id="features" style="padding-top:100px;padding-bottom:100px">
	<div style="text-align: center">
		<div class="row">
			<div class="small-12 small-centered columns">
				<table class="stack">
					<tbody>
						<tr>
							<td>
								<i class="fa fa-link fa-5x"></i><br>
								<h2>Agregador de links</h2>
				          		<p>Nós disponibilizamos centenas de links contendo artigos, livros, documentários, palestras e filmes sobre saúde mental.</p>
							</td>
							<td>
								<i class="fa fa-user-secret fa-5x"></i><br>
								<h2>Uma comunidade anônima</h2>
				          		<p>Acreditamos que o anonimato ajuda as pessoas a se abrirem sobre seus problemas. Nos importamos muito com a sua privacidade, e não possuímos nenhum sistema de cadastro.</p>
							</td>
							<td>
								<i class="fa fa-hourglass-half fa-5x"></i><br>
								<h2>Feito para durar</h2>
				          		<p>Todos os relatos dos usuários são armazenados em um banco de dados em um servidor remoto. Desse jeito, eles sempre estarão salvos e disponíveis para quem precisa.</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--Third callout-->
<div class="callout primary" id="entenda" style="color:white;text-align: center;padding-top:60px">
	<div class="row">
	<div class="small-12 small-centered columns">
	<p>Para que qualquer pessoa sofrendo de problemas de saúde mental, como depressão e bipolaridade, consiga ser tratada, acreditamos que é essencial a conscientização, o aprendizado e o contato com outras pessoas. Por isso, o nosso site terá três páginas principais:</p><br><br><br>
	</div>
	</div>
</div>

<div class="callout" style="color:white;text-align: center">
	<div class="row">
	<div class="small-12 large-10 small-centered columns">
	<div class="orbit" role="region" aria-label="Features" data-orbit data-timer-delay="10000" style="color:rgb(51,37,50);padding:20px">
	    <ul class="orbit-container">
		    <button class="orbit-previous" style="color:rgba(51,37,50,0.7);font-size:20px"><span class="show-for-sr">Previous Slide</span><i class="fa fa-angle-left fa-2x"></i></button>
		    <button class="orbit-next" style="color:rgba(51,37,50,0.7);font-size:20px"><span class="show-for-sr">Next Slide</span><i class="fa fa-angle-right fa-2x"></i></button>
		    <li class="is-active orbit-slide">
			    <i class="fa fa-warning fa-5x"></i><br>
				<h2>Conscientize-se</h2>
	      		<p>Qual é a situação de doenças como depressão e bipolaridade no Brasil e no mundo? Quantas pessoas são afetadas por elas? As pessoas ao menos sabem o que são? Nessa página, tentaremos responder essas perguntas.</p>
		    </li>
	    <li class="orbit-slide">
	    	<i class="fa fa-link fa-5x"></i><br>
	    	<h2>Aprenda</h2>
		    <p>Centenas de links reunídos na internet para tudo que você quer saber, dos melhores profissionais de cada área. Seja vício, depressão, esquizofrenia, autismo, bipolaridade, ansiedade, psicopatia, transtorno do défict de atenção, transtorno de identidade, daqui você vai sair manjando.</p>
	    </li>
	    <li class="orbit-slide">
	    	<i class="fa fa-users fa-5x"></i><br>
	    	<h2>Compartilhe</h2>
			<p>Forneceremos também uma "board" própria para que qualquer pessoa possa compartilhar sua história, pedir conselhos, tirar dúvidas, ou só desabafar. Tudo anonimamente.</p>
	    </li>
	  </ul>
	  <nav class="orbit-bullets">
	    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
	    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
	    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
	  </nav>
	</div>
	</div>
	</div>
</div>

<!--Fourth callout-->
<div class="callout primary" id="inscreva-se" style="padding-top:80px;padding-bottom:80px">
	<div style="text-align: center;color:white">
		<div class="row">
			<div class="small-10 small-centered columns">
				<p>Estamos trabalhando muito nos nossos escritórios(na verdade é só uma pessoa no computador de casa) para lançar o serviço o mais rápido possível.<br><br> Te inscreve na nossa lista de emails que a gente te avisa quando tiver pronto! E nem te preocupa, não mandamos spam.</p>
			</div>
		</div>
		<div class="row">
			<div class="small-10 large-6 small-centered columns">
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="//mentanina.us12.list-manage.com/subscribe/post?u=3e579cf8e3bff6d465fd20dad&amp;id=449f0e10e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
					<div class="mc-field-group">
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Digite teu email.">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3e579cf8e3bff6d465fd20dad_449f0e10e8" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="&#xf0e0;&nbsp;Inscrever-se" name="subscribe" id="mc-embedded-subscribe" class="button secondary expanded fa fa-envelope"></div>
					    </div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>
		</div>
	</div>
</div>



<!-- <%= link_to 'My Blog', controller: 'articles' %> -->