<!--Background-->
    <div data-interchange="[/images/bg_small.html, small], [/images/bg_small.html, medium], [/videos/bg_large.html, large]"></div>

<!--First callout-->
<div class="callout large" style="height: 800px; background: transparent;" id="callout-topo">
	<div style="text-align: center;position:absolute;bottom:90px;left:0;right:0">
		<div class="row">
			<div class="small-10 small-centered columns">
				<img src="/images/logo.png" height="128" width="128" style="padding-bottom:40px">
				<h4 style="font-family: Lato">A mentanina disponibiliza recursos sobre saúde mental, te ajudando a encontrar um caminho para frente.</h4><br><br>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-8 large-5 small-centered columns">
				<table class="stack">
					<tbody>
						<tr>
							<td>
								<a href="#features" class="button primary expanded smooth">Entenda Mais</a>
							</td>
							<td>
								<a href="#inscreva-se" class="button primary expanded smooth">Inscreva-se</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div><a href="#features" class="smooth" style="color:rgb(51,37,50);position:absolute"><i class="fa fa-angle-down fa-4x"></i></a>
		</div>
	</div>
</div>

<!--Second callout-->
<div class="callout large success" id="features" style="padding-top:100px;padding-bottom:100px">
	<div style="text-align: center">
		<div class="row">
			<div class="small-12 small-centered columns">
				<table class="stack">
					<tbody>
						<tr>
							<td>
								<i class="fa fa-link fa-5x"></i><br>
								<h2>Agregador de links</h2>
				          		<p>Nós disponibilizamos centenas de links contendo artigos, livros, documentários, palestras e filmes sobre saúde mental.</p>
							</td>
							<td>
								<i class="fa fa-user-secret fa-5x"></i><br>
								<h2>Uma comunidade anônima</h2>
				          		<p>Acreditamos que o anonimato ajuda as pessoas a se abrirem sobre seus problemas. Nos importamos muito com a sua privacidade, e não possuímos nenhum sistema de cadastro. Nenhum dado pessoal é requisitado.</p>
							</td>
							<td>
								<i class="fa fa-hourglass-half fa-5x"></i><br>
								<h2>Feito para durar</h2>
				          		<p>A Mentanina sempre estará aqui. Todos os relatos dos usuários são armazenados em um banco de dados em um servidor remoto. Desse jeito, eles sempre estarão salvos e disponíveis para quem precisa.</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<!--Third callout-->
<div class="callout large primary" id="entenda" style="padding-top:110px;padding-bottom:110px">
		<p style="color:white;text-align: center">Para que qualquer pessoa sofrendo de problemas de saúde mental, como depressão e bipolaridade, consiga ser tratada, acreditamos que é essencial a conscientização, o aprendizado e o contato com outras pessoas. Por isso, o sistema da Mentanina será divido nessas sessões:</p><br><br><br>
		<div class="row collapse">
			<div class="medium-3 columns">
				
				<ul class="tabs vertical" data-tabs id="passos-tabs">
				        <li class="tabs-title is-active"><a href="#Conscientize-se" style="font-size: 110%;color:rgba(100,77,82,0.99)"><i class="fa fa-warning fa-lg"></i>&nbsp; Conscientize-se</a></li>
				        <li class="tabs-title"><a href="#Aprenda" style="font-size: 110%;color:rgba(100,77,82,0.99)"><i class="fa fa-link fa-lg"></i>&nbsp; Aprenda</a></li>
				        <li class="tabs-title"><a href="#Compartilhe" style="font-size: 110%;color:rgba(100,77,82,0.99)"><i class="fa fa-users fa-lg"></i>&nbsp; Compartilhe</a></li>
			    </ul>
			    </div>
			    <div class="medium-9 columns">
				<div class="tabs-content" data-tabs-content="passos-tabs">
					<div class="tabs-panel is-active" id="Conscientize-se">
					<p>Qual é a situação de doenças como depressão e bipolaridade no Brasil e no mundo? Quantas pessoas são afetadas por elas? As pessoas ao menos sabem o que são? Nessa sessão, tentaremos responder essas perguntas.</p>
					</div>
					<div class="tabs-panel" id="Aprenda">
					<p>Centenas de links reunídos na internet para tudo que você quer saber, dos melhores profissionais de cada área. Seja vício, depressão, esquizofrenia, autismo, bipolaridade, ansiedade, psicopatia, transtorno do défict de atenção, transtorno de identidade, daqui você vai sair manjando.</p>
					</div>
					<div class="tabs-panel" id="Compartilhe">
					<p>Forneceremos também uma "board" própria para que qualquer pessoa possa compartilhar sua história, pedir conselhos, tirar dúvidas, ou só desabafar. Tudo anonimamente.</p>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="callout success">
	<br>
</div>

<!--Fourth callout-->
<div class="callout large primary" id="inscreva-se" style="padding-top:80px;padding-bottom:80px">
	<div style="text-align: center;color:white">
		<div class="row" style="padding-bottom:40px">
			<div class="small-10 small-centered columns">
				<p>Estamos trabalhando muito nos nossos escritórios(na verdade é só uma pessoa no computador de casa) para lançar o serviço o mais rápido possível. Te inscreve na nossa lista de emails que a gente te avisa quando tiver pronto! E nem te preocupa, não mandamos spam.</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 large-6 small-centered columns">
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="//mentanina.us12.list-manage.com/subscribe/post?u=3e579cf8e3bff6d465fd20dad&amp;id=449f0e10e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
					<div class="mc-field-group">
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Digite teu email.">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3e579cf8e3bff6d465fd20dad_449f0e10e8" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="&#xf0e0;&nbsp;Inscrever-se" name="subscribe" id="mc-embedded-subscribe" class="button secondary expanded fa fa-envelope"></div>
					    </div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>
		</div>
	</div>
</div>



<!-- <%= link_to 'My Blog', controller: 'articles' %> -->